
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FizzBuzz</title>
    <style>
        .fizz { color: blue; }
        .buzz { color: red; }
        .fizzBuzz {color: purple; font-size: 200%; }
    </style>
</head>
<body>
    <div>

        @for (var i = 1; i <= 100; i++)
        {

            if (i % 3 == 0 && i % 5 == 0)
            {
            <span class="fizzBuzz">FizzBuzz!</span>
            }
            else if (i % 3 == 0)
            {
                <span class="fizz">Fizz!</span>
            }
            else if (i % 5 == 0)
            {
                <span class="buzz">Buzz!</span>
            }
            else
            {
                <span>@i</span>
            }
            <br />
        }
    </div>
</body>
</html>
