
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>FizzBuzz</title>
    <style>
<<<<<<< HEAD
        .Fizz {
            color: blue;
        }

        .Buzz {
            color: red;
        }

        .FizzBuzz {
            color: purple;
            font-size: 200%;
        }
=======
        .fizz { color: blue; }
        .buzz { color: red; }
        .fizzBuzz {color: purple; font-size: 200%; }
>>>>>>> b08332376b7ea18a2dcc744820befe53070de86c
    </style>
</head>
<body>
    <div>
<<<<<<< HEAD
        <ul>

            @for (var i = 1; i <= 100; i++)
            {
                string name = null;

                if (i % 3 == 0 && i % 5 == 0)
                {
                    name = "FizzBuzz!";
                }
                else if (i % 3 == 0)
                {
                    name = "Fizz!";
                }
                else if (i % 5 == 0)
                {
                    name = "Buzz!";
                }
                var css = (name == null) ? "" : name.Replace("!", "");

                <li class="@css">@(name ?? i.ToString())</li>
                <br/>
            }

        </ul>
=======

        @for (var i = 1; i <= 100; i++)
        {

            if (i % 3 == 0 && i % 5 == 0)
            {
            <span class="fizzBuzz">FizzBuzz!</span>
            }
            else if (i % 3 == 0)
            {
                <span class="fizz">Fizz!</span>
            }
            else if (i % 5 == 0)
            {
                <span class="buzz">Buzz!</span>
            }
            else
            {
                <span>@i</span>
            }
            <br />
        }
>>>>>>> b08332376b7ea18a2dcc744820befe53070de86c
    </div>
</body>
</html>
