@using GetExercises.Web.Models;

@model IndexData

<head>
    <style>
        body {
            display: block;
        }

        .searchParams {
            display: inline-block;
            font-weight: bolder;
            text-align: left;
        }
    </style>
</head>
<body>

    @Html.Partial("FilmSearch")

</body>



