
@using GetExercises.Web.Models;
@model IList<Customer>


<head>
    <style>
        body {
            display: block;
        }

        .searchParams {
            display: inline-block;
            font-weight: bolder;
            text-align: left;
        }
    </style>
</head>
<body>

    <form method="get" action="@Url.Action("SearchResult", "Customer")">
        Name
        <input type="text" name="name" />
        Sort By
        <select type="text" name="orderBy">
            <option value="last_name">Last Name</option>
            <option value="first_name">First Name</option>
            <option value="active">Is Active</option>
        </select>
        <button type="submit" >Submit</button>
    </form>

</body>

  

